# Basics of Python

In [2]:
name="krish"
Name="Naik"
print(name)
print(Name)
# it is case sensitive

krish
Naik

### 1.info

In [3]:
#indentation is in python no {} and all
age=32 
if age>18:
    print("you can vote")
else:
    print("you can't vote")
#indentation is important in python and no ; also required

you can vote

In [4]:
# single line comment
''' 
multi line comment
'''

' \nmulti line comment\n'

In [5]:
#Line continuation we can do by applying a \ 
total = 2+5+7 \
    + 8+9+10
print(total)

41

In [6]:
#multiple statements on a single line we can have like
a=10;b=20;c=30
z=a+b+c
print(z)

60

In [7]:
age=12
name='keerthan'
print(type(age))
print(type(name))
#type tells u which type we dont need to tell which and then assign so

<class 'int'>
<class 'str'>

In [8]:
var = 10
print(type(var))
var='keer'
print(type(var))
#we can see the type being chnaged here

<class 'int'>
<class 'str'>

### 2.Variables

In [9]:
## Declaring And Assigning Variables and then printing them see that no previous declarations like which type has to be done
a=10
height= 5.5
name='keerthan'
is_student = True #caps True and False
print(a)
print(height)
print(name)
print(is_student)

10
5.5
keerthan
True

In [10]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names
first_name = 'keerthan'
last_name = 'kumar c'
#invalid are 
#2age=30
#age$=30 and all

#always keep variable names in a good way so that it will be easier for others to read it also

In [11]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="KRish" #str
is_student=True #bool

In [13]:
# Type conversion
age_in_str = str(age)
print(age_in_str)
print(type(age_in_str))

25
<class 'str'>

In [14]:
age='25'
age_in_number = int(age)
print(age_in_number)
print(type(age_in_number))

25
<class 'int'>

In [15]:
name='keer'
int(name)# this cant be done gives error

ValueError: invalid literal for int() with base 10: 'keer'

In [16]:
height=5.11
type(height)

float

In [17]:
float(int(height))#firt to 5 then to 5.0

5.0

In [18]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [1]:
## Getting Input from the user
name = input("Enter your name:") #by default it is in the string the input and all so if to int then shd be converted like 
age = int(input('enter age:'))
print('name is '+ name + " and age is "+ age)
# the input asked above in this

In [2]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 15.0
Difference: -5.0
Product: 50.0
Quotient: 0.5

### 2. Data Types

In [3]:
## Integer Example
age=35
type(age)

int

In [4]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [5]:
## string datatype example
name="Krish"
print(name)
print(type(name))

Krish
<class 'str'>

In [6]:
## boolean datatype
is_true=True
type(is_true)

bool

In [7]:
a=10
b=10

type(a==b)

bool

In [8]:
## common errors

result="Hello" + 5# this cant be done concatenation like this

TypeError: can only concatenate str (not "int") to str

In [9]:
result="Hello" + str(5)
print(result)

Hello5

### 3. Operators

In [12]:
## Arithmethic Operation

a=10
b = 5.2

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division meaning no reminders will be kept
modulus_result=a%b #modulus operation to get the reminders

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15.2
4.8
52.0
1.923076923076923
1.0
4.8
158489.3192461114

In [13]:
## Comparision Operators
# All comparision operators gives us in boolean
a=10
b=10

a==b

True

In [14]:
str1="Krish"
str2="Krish"

str1==str2

True

In [15]:
## Not Equal to !=
str1!=str2

False

In [16]:
str3="Krish"
str4="krish"

str3!=str4#lowercase so true

True

In [17]:
# greater than >

num1=45
num2=55

num1>num2

False

In [18]:
## less than <

print(num1<num2)

True

In [19]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)
print(number1<=number2)

True
True

In [20]:
### Logical Operators
## And ,Not,OR
X=True
Y=True
#and if true if both are true or same like that 
result =X and Y
print(result)
X=False
Y=True

result =X and Y
print(result)

True
False

In [21]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [22]:
# Not operator
X=False
not X

True

In [23]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2 # to get the reminder
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 35.6
Subtraction: -15.600000000000001
Multiplication: 256.0
Division: 0.390625
Floor Division: 0.0
Modulus: 10.0
Exponentiation: 3.9810717055349854e+25